:root {
  --primary: rgb(33, 0, 163);
  --secondary: rgba(255, 51, 0, 1);
}
.hire-me {
  text-align: center;
  padding: 1.7rem 0.7rem;
}
.hire-text {
  color: var(--primary);
}
.hire_link {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
  border: 3px solid var(--secondary);
  border-radius: 1.5rem;
  background-color: var(--secondary);
  cursor: pointer;
}
.hire_link:hover {
  background-color: rgb(157, 32, 0);
  border-color: rgb(157, 32, 0);
}
.info {
  text-align: left;
  margin-left: 2rem;
}
.info div {
  margin-bottom: 0.7rem;
}
label {
  color: var(--secondary);
  font-weight: 700;
  margin-right: 0.5rem;
}
input {
  background-color: rgb(172, 152, 255);
  padding: 0.5rem 0.5rem;
  width: 80%;
  border-radius: 7px;
  border-style: none;
}
textarea {
  background-color: rgb(172, 152, 255);
  width: 90%;
  padding: 0.5rem 0.5rem;
  border-radius: 7px;
  border-style: none;
}
.hire {
  color: var(--primary);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
