:root {
  --primary: rgb(30, 0, 151);
  --secondary: rgba(255, 51, 0, 1);
}

body {
  margin: 0;
  font-family: "poppins", Courier, monospace;
}

.skills {
  background-color: var(--primary);
  text-align: center;
  padding: 1.7rem 0.7rem;
}

.skills > p {
  color: var(--secondary);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.texts {
  color: var(--secondary);
  line-height: 0.7rem;
  margin-top: -1rem;
}

.texts a {
  text-decoration: underline;
  color: #fff;
}

.skills-images {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 2rem;
}

.others {
  color: var(--secondary);
  font-size: 1.2rem;
  text-decoration: underline;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.theSkills {
  color: #fff;
}

@media only screen and (min-width: 1000px) {
}
